@font-face {
  font-family: "Carlo";
  src: url(./carlo/Carlo.ttf);
}
@font-face {
  font-family: "Salita";
  src: url(./salita/Salita.ttf);
}
@font-face {
  font-family: "visoria";
  src: url(./Visoria/visoria-regular.ttf);
}
@font-face {
  font-family: "WalkieValkyrie";
  src: url(./walkievalkyrie/WalkieValkyrie-Regular.ttf);
}

.footer{
  position: relative;
}
.sbharsh{
  animation-duration: 60s;
  animation-name: fontastic;
  position: absolute;
  animation-iteration-count: infinite;
}

@keyframes fontastic {
  0% {
    font-family: WalkieValkyrie;
  }
  10% {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  20% {
    font-family: Salita;
  }
  30% {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  40% {
    font-family: 'Times New Roman', Times, serif;
  }
  50% {
    font-family: Carlo;
  }
  60% {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  70% {
    font-family: visoria;
  }
  100% {
    font-family: Arial, Helvetica, sans-serif;
  }
}
.page2imgtxtaboutName,.page2imgtxtaboutQuest{
  background-color: aliceblue;
  color: black;
  display: inline-block;
  padding-left:4px ;
  padding-right:4px ;
  font-weight: 500;
}
*::selection{
  background: #00000000;
}
#loader{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loaderItem {
  position: relative;
}
#loaderItem:after {
  content: '';
  background: #FFF;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 32px;
  height: 32px;
  border-radius:4px;
  transform-origin: -16px -32px;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
   0% , 100% {
      transform: rotate(-45deg)  translate(-50% , -50%)
    }
   50% {
      transform: rotate(-245deg)  translate(-50% , -50%)
   }
}
  